-var path = '';
-var head_url = 'https://abramova.iomp.ru/nsp-2.0/';
-var head_title = '«Новая системная психология - 2.0»';
-var head_description = 'Станьте психологом. Работайте с бессознательными программами личности!';
-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var jsLib = path+'js/libs.min.js';
-var scripts = path+'js/scripts.js';
-var noref = true
-var action = '';
-var group = '';
-var formId = '';
-var formVc = '';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
-var io = true
-var ah = true

mixin b(cl, href, p, target, id)
	a.button(class=cl href!=href target=target id=id)=p
mixin gt(cl, small, h3)
	h3.general-title(class=cl)
		small=small
		|=h3
mixin imgs(cl, src ,alt)
	img(class=cl src=path+src alt=alt)

doctype html
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/base/1-header
		include pug/main/1-main
		include pug/main/2-video
		include pug/main/3-advantages
		include pug/main/4-for
		include pug/main/5-plan
		include pug/main/6-usefull
		include pug/main/7-modules
		include pug/main/8-author
		include pug/main/9-revs
		include pug/main/10-last
		include pug/main/11-modal
		include pug/base/2-footer
		include pug/base/3-scripts
		include pug/scripts/body_bottom_scripts